#choose what files to ignore in the repo

#ignore all object files
*.o
*.so

#ignore .mat files - these are considered temporary unless you manually add them
*.mat

#ignore ipynb checkpoints

*.ipynb_checkpoints*
*checkpoint.ipynb

#ignore all executables
*.exe


